In [30]:
import pandas as pd
df = pd.read_csv('Ecommerce_Delivery_Analytics_New.csv')

In [31]:
df.head() # We don't have much data to do better analysis but this is the real challange of a data analyst in the real world scenarios.
# We may not get data that we want because the source(web application) may not include columns that we want, eventhough we need to analyze the 
# data that leads to better decisions.

,Order ID,Customer ID,Platform,Order Date & Time,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested
0,ORD000001,CUST2824,JioMart,19:29.5,30,Fruits & Vegetables,382,"Fast delivery, great service!",5,No,No
1,ORD000002,CUST1409,Blinkit,54:29.5,16,Dairy,279,Quick and reliable!,5,No,No
2,ORD000003,CUST5506,JioMart,21:29.5,25,Beverages,599,Items missing from order.,2,No,Yes
3,ORD000004,CUST5012,JioMart,19:29.5,42,Beverages,946,Items missing from order.,2,Yes,Yes
4,ORD000005,CUST4657,Blinkit,49:29.5,30,Beverages,334,"Fast delivery, great service!",5,No,No

In [32]:
''' converting column names to snake case (lower_case_with_underscores) --> to enhance readability, ensure case-insensitivity
consistency across databases(like MySQL), and conform to standard naming conventions in programming languages like Python.  '''

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")
df.columns

Index(['order_id', 'customer_id', 'platform', 'order_date_&_time',
       'delivery_time_(minutes)', 'product_category', 'order_value_(inr)',
       'customer_feedback', 'service_rating', 'delivery_delay',
       'refund_requested'],
      dtype='str')

In [33]:
# Renaming columns to remove special characters for SQL compatibility and easier querying across tools.

df = df.rename(columns={
    'order_date_&_time': 'order_date_time',
    'delivery_time_(minutes)': 'delivery_time',
    'order_value_(inr)': 'order_value'
})

# Hardcoding can silently mislabel columns if the CSV column order changes.
# This avoids accidental column misalignment and makes your code safer for future datasets.
'''
df.columns = ['order_id', 'customer_id', 'platform', 'order_date_time',
       'delivery_time', 'product_category', 'order_value',
       'customer_feedback', 'service_rating', 'delivery_delay',
       'refund_requested']
'''

"\ndf.columns = ['order_id', 'customer_id', 'platform', 'order_date_time',\n       'delivery_time', 'product_category', 'order_value',\n       'customer_feedback', 'service_rating', 'delivery_delay',\n       'refund_requested']\n"

In [34]:
df.head()

,order_id,customer_id,platform,order_date_time,delivery_time,product_category,order_value,customer_feedback,service_rating,delivery_delay,refund_requested
0,ORD000001,CUST2824,JioMart,19:29.5,30,Fruits & Vegetables,382,"Fast delivery, great service!",5,No,No
1,ORD000002,CUST1409,Blinkit,54:29.5,16,Dairy,279,Quick and reliable!,5,No,No
2,ORD000003,CUST5506,JioMart,21:29.5,25,Beverages,599,Items missing from order.,2,No,Yes
3,ORD000004,CUST5012,JioMart,19:29.5,42,Beverages,946,Items missing from order.,2,Yes,Yes
4,ORD000005,CUST4657,Blinkit,49:29.5,30,Beverages,334,"Fast delivery, great service!",5,No,No

In [35]:
df.info() # To check for null values over each column and the datatype of each column

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   order_id           100000 non-null  str
 1   customer_id        100000 non-null  str
 2   platform           100000 non-null  str
 3   order_date_time    100000 non-null  str
 4   delivery_time      100000 non-null  int64
 5   product_category   100000 non-null  str
 6   order_value        100000 non-null  int64
 7   customer_feedback  100000 non-null  str
 8   service_rating     100000 non-null  int64
 9   delivery_delay     100000 non-null  str
 10  refund_requested   100000 non-null  str
dtypes: int64(3), str(8)
memory usage: 8.4 MB

In [36]:
df.describe(include = 'all') # Returns summary stats of both numeric and categorical columns

,order_id,customer_id,platform,order_date_time,delivery_time,product_category,order_value,customer_feedback,service_rating,delivery_delay,refund_requested
count,100000,100000,100000,100000,100000.000000,100000,100000.000000,100000,100000.000000,100000,100000
unique,100000,9000,3,60,NaN,6,NaN,13,NaN,2,2
top,ORD000001,CUST8779,Swiggy Instamart,50:29.5,NaN,Dairy,NaN,"Easy to order, loved it!",NaN,No,No
freq,1,26,33449,1755,NaN,16857,NaN,7791,NaN,86328,54181
mean,NaN,NaN,NaN,NaN,29.536140,NaN,590.994400,NaN,3.240790,NaN,NaN
std,NaN,NaN,NaN,NaN,9.958933,NaN,417.409058,NaN,1.575962,NaN,NaN
min,NaN,NaN,NaN,NaN,5.000000,NaN,50.000000,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,23.000000,NaN,283.000000,NaN,2.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,30.000000,NaN,481.000000,NaN,3.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,36.000000,NaN,770.000000,NaN,5.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,76.000000,NaN,2000.000000,NaN,5.000000,NaN,NaN

In [37]:
df['order_id'] = df['order_id'].str.replace('ORD','') # Removed 'ORD'
df['order_id'] = df['order_id'].str.lstrip('0') # Removed leading 0's 
df['order_id'] = df['order_id'].astype('int') # Changed datatype from str to int
df['order_id']

0             1
1             2
2             3
3             4
4             5
          ...
99995     99996
99996     99997
99997     99998
99998     99999
99999    100000
Name: order_id, Length: 100000, dtype: int64

In [38]:
df.loc[df['customer_id'].apply(len) != 8] # It returns empty table with column headers. So, we understand that all values of
                                          # customer_id is of length 8 (containing first 4 letters CUST and last 4 digits)
df['customer_id'] = df['customer_id'].str[-4:] # Extracted last 4 digits (Removing CUST)
df['customer_id'] = df['customer_id'].astype('int') # Changed datatype from str to int

In [39]:
# To know how many distinct values over the 'platform' column
df['platform'].unique()

<StringArray>
['JioMart', 'Blinkit', 'Swiggy Instamart']
Length: 3, dtype: str

In [40]:
''' The 'order_date_time' column contains inconsistent and unreliable time-only values that could not be confidently interpreted or validated. Since
it did not support meaningful analysis, so after speaking to the domain(or source) expertise we exclude this column to maintain data quality and to 
avoid misleading insights. '''

# df.head()
df.drop(columns = ['order_date_time'] , inplace = True)

In [41]:
# To know the range of delivery time
print('Shortest Delivery time : ',df['delivery_time'].min(), 'minutes')
print('Longest Delivery time : ',df['delivery_time'].max(), 'minutes')

Shortest Delivery time :  5 minutes
Longest Delivery time :  76 minutes

In [42]:
# To know how many distinct values over the 'product_category' column
df['product_category'].unique()

<StringArray>
['Fruits & Vegetables',               'Dairy',           'Beverages',
       'Personal Care',             'Grocery',              'Snacks']
Length: 6, dtype: str

In [43]:
# To know order value range
print('Minimum order value', df['order_value'].min(), '/-')
print('Maximum order value', df['order_value'].max(), '/-')

Minimum order value 50 /-
Maximum order value 2000 /-

In [44]:
# To know how many distinct values over the 'customer_feedback' column
df['customer_feedback'].unique()

<StringArray>
[             'Fast delivery, great service!',
                        'Quick and reliable!',
                  'Items missing from order.',
 'Horrible experience, never ordering again.',
           'Very satisfied with the service.',
             'Very late delivery, not happy.',
                      'Excellent experience!',
                   'Easy to order, loved it!',
                     'Good quality products.',
                   'Not fresh, disappointed.',
                      'Wrong item delivered.',
                  'Delivery person was rude.',
                 'Packaging could be better.']
Length: 13, dtype: str

In [45]:
# To know the range of service rating
print('Minimum Service Rating is ', df['service_rating'].min())
print('Maximum Service Rating is ', df['service_rating'].max())
df['service_rating'].unique()

Minimum Service Rating is  1
Maximum Service Rating is  5

array([5, 2, 1, 4, 3])

In [46]:
# To know how many distinct values over the 'delivery_delay' column
df['delivery_delay'].unique()

<StringArray>
['No', 'Yes']
Length: 2, dtype: str

In [47]:
# To know how many distinct values over the 'refund_requested' column
df['refund_requested'].unique()

<StringArray>
['No', 'Yes']
Length: 2, dtype: str

In [48]:
# Data Segmentation --> Adding new column from existing column
# labels = ['Low','Medium','High']
# df['order_value_segmentation'] = pd.qcut(df['order_value'], q=3, labels = labels)

# Budget -> <500 ; Standard -> 500 to 1000 ; VIP -> >1000

df['order_value_segmentation'] = pd.cut(df['order_value'], bins = [0,500,1000,float('inf')], labels = ['Budget','Standard','VIP'])

'''  (or)
df['order_value_segmentation'] = 'Budget' # it creates a new column with all values as 'Budget'
df.loc[(df['order_value'] > 500) & (df['order_value'] <= 1000), ['order_value_segmentation']] ='Standard'
df.loc[df[order_value] > 1000, ['order_value_segmentation']] ='VIP'
'''

df[['order_value','order_value_segmentation']]

       order_value order_value_segmentation
0              382                   Budget
1              279                   Budget
2              599                 Standard
3              946                 Standard
4              334                   Budget
...            ...                      ...
99995          289                   Budget
99996          322                   Budget
99997          135                   Budget
99998          973                 Standard
99999          453                   Budget

[100000 rows x 2 columns]

In [ ]:
# Load the data into sql server
from sqlalchemy import create_engine, text

server = 'DESKTOP-7CNCRHD\\SQLEXPRESS'
database = 'q_commerce'

engine = create_engine(f"mssql+pyodbc://@{server}/{database}"
                      "?driver=ODBC+Driver+17+for+SQL+Server"
                      "&trusted_connection=yes"
                      )

with engine.begin() as conn:
    conn.execute(text('''IF OBJECT_ID('dbo.df_q_commerce', 'U') IS NOT NULL
                            TRUNCATE TABLE dbo.df_q_commerce;'''))

df.to_sql("df_q_commerce", con = engine, index = False, if_exists = 'append')

platform
Blinkit             3.233844
JioMart             3.245147
Swiggy Instamart    3.243415
Name: service_rating, dtype: float64